@font-face{
    font-family: titleFont;
    src: url('./assets/fonts/BebasNeue-Bold.otf');
}

body {
    background-color: #1E1E2F;
}

.errorClass {
    border-color: red !important;
}

*:focus {
    outline: 0ch;
}