.nav-link, .btn {
    font-family: titleFont;
    color: #27293D;
    font-size: 200%;
    margin: 5px;
}

.navbar {
    background-color: #CD51E0;
    z-index: 1;
    padding: 0px;

    li, li:hover {
        cursor: pointer;
        color: #27293D;
    }
}

.logo {
    font-family: logoFont;
    font-size: 35px;
    color: #27293D;
    text-align: center;
    padding: 1%
}