<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 mx-auto">
            <div class="card">
                <div class="card-img-top mb-5">
                    <h1 class="logo">FTTG</h1>
                </div>
                <form [formGroup]="loginForm" class="form-signin">
                    <input placeholder="Email" formControlName="email" type="email" id="inputEmail" class="form-control"
                        required autofocus [ngClass]="{'errorClass': f.email.errors && submitted}">
                    <input placeholder="Password" formControlName="password" type="password" id="inputPassword"
                        class="form-control" required [ngClass]="{'errorClass': f.password.errors && submitted}">
                    <div class="btnContainer mb-5">
                        <button type="button" class="btn btn-primary go mt-5" (click)="onSubmit()">
                            Sign In
                        </button>
                    </div>
                    <div class="callToAction">
                        <small>Don't have an account? <strong><br><span style="cursor: pointer"><a (click)="navigate()">Sign Up!</a></span></strong></small>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>



<!-- <div class="col-md-3 headingContainer">
    <h1 class="headingText">five,</h1>
    <h1 class="headingText">three,</h1>
    <h1 class="headingText">two,</h1>
    <h1><span class="headingText callToAction" style="color: #CD51E0 !important">GO<span style="color: white">!</span></span></h1>
</div> -->