<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 ml-auto">
            <div class="card form">
                <div class="card-body">
                    <form class="form-register">
                        <label for="inputEmail">username</label>
                        <input type="email" id="inputEmail" class="form-control" required
                        autofocus >
                        <label for="inputEmail">email</label>
                        <input type="email" id="inputEmail" class="form-control" required
                        autofocus >
                        <label for="inputEmail">password</label>
                        <input type="email" id="inputEmail" class="form-control" required
                        autofocus >

                    </form>
                    <div class="btnContainer">
                        <button type="button" class="btn btn-primary go">
                            Update Account
                        </button>
                        <button type="button" class="btn btn-primary go">
                            Reset password
                        </button>
                        <button type="button" class="btn btn-primary delete">
                            delete account
                        </button>
                    </div>
              
        
                  
                    <!-- <form  class="form-register">
                        <label for="inputEmail">Email</label>
                        <input formControlName="email" type="email" id="inputEmail" class="form-control" required
                            autofocus >
                        <label for="inputUsername">Username</label>
                        <input formControlName="username" type="text" id="inputUsername" class="form-control"
                            required >
                        <label for="inputPassword">Password</label>
                        <input formControlName="password" type="password" id="inputEmail" class="form-control" required
                            autofocus >
                        <label for="inputPassword2">Confirm Password</label>
                        <input formControlName="password2" type="password" id="inputPassword2" class="form-control"
                            required >
                        <div class="btnContainer">
                            <button class="btn btn-large go" type="submit" >GO</button>
                        </div>
                    </form> -->
                </div>
            </div>
        </div>
        <div class="col-md-4 mr-auto promoContainer">
            <div class="card promo">
                <div class="card-body">
                    <h1 class="title">account</h1>
                    <img class="image" src="../../../assets/images/settings.svg">
                    <h1 class="title">settings</h1>
                </div>

            </div>
        </div>

    </div>
</div>