<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-3 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-innerBody d-flex align-items-center">
                        <div class="mx-auto">
                            <h1> {{diffFifty | currency :'GBP'}}</h1>
                        </div>
                    </div>
                </div>
                <div class="d-flex ">
                    <small class="mr-auto">
                        <h3>fifty</h3>
                    </small>
                    <small class="ml-auto">
                        <h3>budget: {{financeData.budget[0] | currency : 'GBP'}}</h3>
                    </small>
                </div>
            </div>
        </div>
        <div class="col-md-3 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-innerBody d-flex align-items-center">
                        <div class="mx-auto">
                            <h1> {{diffThirty | currency :'GBP'}}</h1>
                        </div>
                    </div>
                </div>
                <div class="d-flex ">
                    <small class="mr-auto">
                        <h3>thirty</h3>
                    </small>
                    <small class="ml-auto">
                        <h3>budget: {{financeData.budget[1] | currency : 'GBP'}}</h3>
                    </small>
                </div>
            </div>
        </div>
        <div class="col-md-3 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-innerBody d-flex align-items-center">
                        <div class="mx-auto">
                            <h1>{{diffTwenty | currency :'GBP'}}</h1>
                        </div>
                    </div>
                </div>
                <div class="d-flex ">
                    <small class="mr-auto">
                        <h3>twenty</h3>
                    </small>
                    <small class="ml-auto">
                        <h3>budget: {{financeData.budget[2] | currency : 'GBP'}}</h3>
                    </small>
                
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto mt-5">
            <div class="card" *ngIf="barChartData; else elseBlock">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
            <ng-template #elseBlock>Loading...</ng-template>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mx-auto mt-5">
            <!-- Button trigger modal -->
            <div class="btnContainer">
                <button type="button" class="btn btn-primary go" data-toggle="modal" data-target="#exampleModalCenter">
                    Edit Finances
                </button>
            </div>
        </div>
    </div>
</div>

<app-modal-page (differential)="setDifferential($event)" (finances)="setValues($event)"></app-modal-page>