<div class="container-fluid">
    <div class="row h-100">
        <div class="col-md-3 headingContainer my-auto">
            <h1 class="headingText">five,</h1>
            <h1 class="headingText">three,</h1>
            <h1 class="headingText">two,</h1>
            <h1><span class="headingText" style="color: #FC5185 !important">GO</span></h1>
        </div>
        <div class="col-md-4  my-auto">
            <img class="picture"src ="../../../assets/images/logo.svg">
        </div>
    </div>
    <div class="row">
    
    </div>
</div>