.container-fluid {
    background-color: #364F6B;
    min-height: 93vh;

    .headingText {
        font-family: titleFont;
        color: #43dde6;
        font-size: 5vw;
        margin: 12% auto;
        display: block;
        text-align: right;
    }

    

    .headingContainer {
        margin-top: 10%
    }

    .pictureContainer {
        margin-top: 7%;
        .picture {
            margin-top: 12%;
            width: 80%;
            bottom: 0;
        }
    }

    .btn {
        font-family: titleFont;
        font-size: 200%;
        background-color: white;
        color: #FC5185;
        margin: 5%;
    }

    .border {
        border: solid 3px pink;
    }
    
    .callToAction {
        margin-top: 25% !important;
    }
}

// @media screen and (max-width: 400px) {

//     .picture {
//         width: 90% !important;
//         margin-top: 1px !important;
//     }
//     .secondHeading {
//         display: none;
//     }

//     .headingContainer {
//         .headingText {
//             font-family: titleFont;
//             color: green;
//             font-size: 5vw;
//             margin-top: 15%;
//             margin-bottom: 0px;
//             display: block;
//             text-align: right;
//         }
//     }

// }