<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 headingContainer">
            <h1 class="headingText">five,</h1>
            <h1 class="headingText">three,</h1>
            <h1 class="headingText">two,</h1>
            <h1><span class="headingText callToAction" style="color: #FC5185 !important">GO<span style="color: white">!</span></span></h1>
        </div>
        <div class="col-md-4 pictureContainer">
            <img class="picture" src="../../../assets/images/logo.svg">
        </div>
    </div>
    <div class="row secondHeading">
        <div class="col-md-4  ml-auto">
            <h1 class="subHeading">A finance manager</h1>
            <h1 class="subHeading">for <span style="color: #364F6B">everyone</span></h1>
        </div>
    </div>
</div>