.container-fluid {
    background-image: url("../../../assets/images/landingBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -1;

    .headingText {
        font-family: titleFont;
        color: #43dde6;
        font-size: 700%;
        margin: 15% auto;
        display: block;
        text-align: right;
    }

    .subHeading {
        font-family: titleFont;
        color: white;
        font-size: 700%;
        margin: 7% auto;
        margin-top: 0%;
        display: block;
        text-align: right;
    }

    .headingContainer {
        margin-top: 15%
    }

    .pictureContainer {
        margin-top: 12%;
        .picture {
            margin-top: 12%;
            width: 80%;
        }
    }

    .btn {
        font-family: titleFont;
        font-size: 200%;
        background-color: white;
        color: #FC5185;
        margin: 5%;
    }

    .border {
        border: solid 3px pink;
    }
    
    .callToAction {
        margin-top: 25% !important;
    }
}

@media screen and (max-width: 400px) {

    .picture {
        width: 90% !important;
        margin-top: 1px !important;
    }
    .secondHeading {
        display: none;
    }

    .headingContainer {
        .headingText {
            font-family: titleFont;
            color: #43dde6;
            font-size: 700%;
            margin-top: 15%;
            margin-bottom: 0px;
            display: block;
            text-align: right;
        }
    }

}