.title {
    font-family: titleFont;
    font-size: 80px;
    text-align: center;
    color: white;
    padding: 2%;
    margin-top: 10%;
}

.row {
    margin-top: 300px !important;
}

.col-md-4 {
    margin: 0px;
    padding: 0px;
}

.info {
    font-size: 35px;
    text-align: center;
    color: white;
    line-height: 1em;
    padding-top: 12vh;
}

.container {
    .promo {
        height: 600px !important;
        max-height: 600px;
        background-color: #fc5185 !important;

        .image {
            width: 100%;
        }
    }

    .form {
        height: 600px !important;
        background-color: #f0f0f0;

        input,
        input:focus {
            border-radius: 30px;
            color: #fc5185;
            width: 80% !important;
            margin: 5% auto;
        }

        label {
            font-family: titleFont;
            font-size: 150%;
            color: #364f6b;
            margin-left: 10%;
        }

        .form-register {
            margin-top: 22%;
            margin-bottom: 22%;
        }

        .btnContainer {
            margin: 0 auto;
            text-align: center;
            font-family: titleFont;

            .go {
                width: 40%;
                font-size: 200%;
                background-color: #fc5185;
                border-radius: 30px;
                color: white;
                padding: 0 5%;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .promo {
        display: none;
    }

    .row {
        margin-top: 100px !important;
    }
}
