<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 mx-auto">
            
            <div class="card form">
                <div class="card-body">
                    <h4 class="titleFont">Account Settings</h4>
                    <form  [formGroup]="accountForm" class="form-register">
                        <label for="inputEmail">username</label>
                        <input formControlName="username" type="text" id="inputEmail" class="form-control" required
                            autofocus>
                        <label for="inputEmail">email</label>
                        <input formControlName="email" type="email" id="inputEmail" class="form-control" required
                            >
                        <label for="inputEmail">password</label>
                        <input placeholder="Enter new password" formControlName="password" type="password" id="inputEmail" class="form-control" required
                            >

                    </form>
                    
                    <div class="btnContainer">
                        <button type="button" (click)="saveAccount()" class="btn btn-primary go">
                            Update Account
                        </button>
                        <button type="button" (click)="savePassword()" class="btn btn-primary go">
                            Reset password
                        </button>
                        <button type="button" (click)="deleteAccount()" class="btn btn-primary delete">
                            delete account
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>