.title {
    font-family: titleFont;
    font-size: 400%;
    text-align: center;
    color: #98A9AE;
    height: 90px !important;
}
.row {
    margin-top: 300px !important;
}

.card {
    background-color: #f0f0f0;
    min-height: 43vh;
    border-radius: 30px;
    border: 3px solid #fc5185;
    padding-bottom: 50px;
    color: #98A9AE;

    .image {
        width: 40%;
        display: block;
        margin: 0 auto;
        z-index: 2;
        border-radius: 50%;
        background-color: #f0f0f0;
        padding: 1%;
    }

    .btnContainer {
        margin: 0 auto;
        text-align: center;
        font-family: titleFont;

        .go {
            width: 40%;
            font-size: 200%;
            background-color: #364f6b;
            border-radius: 30px;
            border: 2px solid #fc5185;
            color: white;
            padding: 0 5%;
        }
    }

    input {
        border-radius: 30px;
        color: #98A9AE;
        width: 80% !important;
        background-color: #27293D;
        border-color: #2B3553;
        margin: 3% auto;
    }

    input:focus {
        border-color: #E14ECA;
    }

    label {
        font-family: titleFont;
        font-size: 150%;
        color: #98A9AE;
        margin: 2%;
    }

}

@media screen and (max-width: 400px) {
    .row {
        margin-top: 100px !important;
    }
}
