.nav-link, .btn {
    font-family: titleFont;
    color: white;
    font-size: 200%;
    margin: 5px;
}

.navbar {
    background-color: #CD51E0;
    z-index: 1;
    padding: 0px;

    li, li:hover {
        cursor: pointer;
        color: white;
    }
}